In [ ]:
# Coding Newbie Class3 Data Structure

In [ ]:
# Review last week

In [ ]:
# Review Function (recursive function is the hardest part of learning function)
def fibonacci(n):
    if n == 0 or n ==1:
        return n
    else:
        return fibonacci(n-1)+fibonacci(n-2)

for i in range(1, n+1):
    print(fibonacci(n=i))

In [ ]:
# Review Loop (3-Level loop is the hardest part of learning loop )
for i in range(1,10,3):    
    for j in range(1,10):
        for k in range(0,3):
            L = i + k 
            R = j 
            print(L , "*", R, "=", L * R, end='\t')
        print('')
    print('')

In [ ]:
# Review Variable

In [ ]:
x = 3 
print(x)

In [ ]:
x = "This is a string"
print(x)

In [ ]:
x = [1,2,3,4,5]
print(x)

In [ ]:
tax = 12.5 / 100
price = 100.50
price * tax

In [ ]:
width = 20 
height = 5 * 9
width * height

In [ ]:
17 // 3  # floor division discards the fractional part

In [ ]:
17 % 3 # the % operator returns the remainder of the division

In [ ]:
5 ** 2 # 5 squared

In [ ]:
2 ** 7 # 2 to the power of 7

In [ ]:
#
#
# The Course Today 
#
#

In [ ]:
# Sequence Types -- list, tuple, range
#  . There are three basic sequence types: lists, tuples, 
#    and range objects.

In [8]:
# Everything in python is an object
x = 5 
print(id(x))
x = 3 
print(id(x))
print(id(5))
print(id(3))

4341995264
4341995200
4341995264
4341995200

In [9]:
# Everhting in python is an object
# id is good tool for you to understand the memory usage and structure of object in future
a = [3, 3, 1]
print('id(a)=',id(a))
print(a)
print(id(a[0]))
print(id(a[1]))
print(id(a[2]))

print('')

a[0] = 50
print('id(a)=',id(a))
print(a)
print(id(a[0]))
print(id(a[1]))
print(id(a[2]))

id(a)= 4387564040
[3, 3, 1]
4341995200
4341995200
4341995136

id(a)= 4387564040
[50, 3, 1]
4341996704
4341995200
4341995136

In [ ]:
# Everything in python is an object
# More detail skill to understand memory usage in id
# ignore this cell today because you need to have time to think it 
# , but you can go back to think it more and discuss together or discuss with teacher 

a = [3, 3, [100,200]]
print(a)
print(id(a))
print(id(a[2]))
print(id(a[2][0]))
print(id(a[2][1]))

a[2][0] = 200
print(a)
print(id(a))
print(id(a[2]))
print(id(a[2][0]))
print(id(a[2][1]))

a[2] = [] 
print(a)
print(id(a))
print(id(a[2]))

In [24]:
# And you can show type of every kind of object
# The following object are the Build-in Type for python

print(type(a))
print(type(id(a)))
print('')


floatNum = 33.03
print(type(floatNum))
print(type(  "String "  ))
print(type(  ('tuple','aa',123)  ))

print('')

listVar = [1,2,'aa',33]
print(type(listVar))

rangeVar = range(1,2)
print(type(rangeVar))

setVar = set({1,2,3})
print(type(setVar))

dictVar = {'a':22, 'bb':23}
print(type(   dictVar    ))
print('')



# I have the document for you to self-learn Built-In type in detail

<class 'list'>
<class 'int'>

<class 'float'>
<class 'str'>
<class 'tuple'>

<class 'list'>
<class 'range'>
<class 'set'>
<class 'dict'>

In [28]:
# Another type that are not Built-In Type,  but they are very popular
# Numpy 
import numpy as np
npVar = np.array([[1,2,3],[3,4,5],[7,8,9]])
print(npVar)
print('shape = ', npVar.shape)
print('dtype = ', npVar.dtype)

# I have the document for you to self-learn Numpy in detail

[[1 2 3]
 [3 4 5]
 [7 8 9]]
shape =  (3, 3)
dtype =  int64

In [40]:
# Another type that are not Built-In Type,  but they are very popular
# Pandas
import pandas as pd
data = np.array([1,2,3,4])
index = np.array(['a','b','c','d'])
s = pd.Series(data, index=index)
print(type(s))

print(s)
# . The "data" can be list, tuple, dict, numpy.ndarray ... 



# I have the document for you to self-learn Pandas in detail

<class 'pandas.core.series.Series'>
a    1
b    2
c    3
d    4
dtype: int64

In [44]:
# show Pandas in cool style
csv_filename = 'Metadata_Country_API.csv'
pd.read_csv(csv_filename)

,Country Code,Region,IncomeGroup,SpecialNotes,TableName,Unnamed: 5
0,ABW,Latin America & Caribbean,High income,NaN,Aruba,NaN
1,AFG,South Asia,Low income,NaN,Afghanistan,NaN
2,AGO,Sub-Saharan Africa,Lower middle income,NaN,Angola,NaN
3,ALB,Europe & Central Asia,Upper middle income,NaN,Albania,NaN
4,AND,Europe & Central Asia,High income,NaN,Andorra,NaN
5,ARB,NaN,NaN,Arab World aggregate. Arab World is composed o...,Arab World,NaN
6,ARE,Middle East & North Africa,High income,NaN,United Arab Emirates,NaN
7,ARG,Latin America & Caribbean,Upper middle income,NaN,Argentina,NaN
8,ARM,Europe & Central Asia,Upper middle income,NaN,Armenia,NaN
9,ASM,East Asia & Pacific,Upper middle income,NaN,American Samoa,NaN
10,ATG,Latin America & Caribbean,High income,NaN,Antigua and Barbuda,NaN
11,AUS,East Asia & Pacific,High income,Fiscal year end: June 30; reporting period for...,Australia,NaN
12,AUT,Europe & Central Asia,High income,A simple multiplier is used to convert the nat...,Austria,NaN
13,AZE,Europe & Central Asia,Upper middle income,NaN,Azerbaijan,NaN
14,BDI,Sub-Saharan Africa,Low income,NaN,Burundi,NaN
15,BEL,Europe & Central Asia,High income,A simple multiplier is used to convert the nat...,Belgium,NaN
16,BEN,Sub-Saharan Africa,Low income,NaN,Benin,NaN
17,BFA,Sub-Saharan Africa,Low income,NaN,Burkina Faso,NaN
18,BGD,South Asia,Lower middle income,Fiscal year end: June 30; reporting period for...,Bangladesh,NaN
19,BGR,Europe & Central Asia,Upper middle income,NaN,Bulgaria,NaN
20,BHR,Middle East & North Africa,High income,NaN,Bahrain,NaN
21,BHS,Latin America & Caribbean,High income,NaN,"Bahamas, The",NaN
22,BIH,Europe & Central Asia,Upper middle income,NaN,Bosnia and Herzegovina,NaN
23,BLR,Europe & Central Asia,Upper middle income,Data before 2015 were adjusted to reflect the ...,Belarus,NaN
24,BLZ,Latin America & Caribbean,Upper middle income,NaN,Belize,NaN
25,BMU,North America,High income,NaN,Bermuda,NaN
26,BOL,Latin America & Caribbean,Lower middle income,NaN,Bolivia,NaN
27,BRA,Latin America & Caribbean,Upper middle income,NaN,Brazil,NaN
28,BRB,Latin America & Caribbean,High income,NaN,Barbados,NaN
29,BRN,East Asia & Pacific,High income,NaN,Brunei Darussalam,NaN
...,...,...,...,...,...,...
233,TLA,NaN,NaN,Latin America & the Caribbean (IDA & IBRD coun...,Latin America & Caribbean (IDA & IBRD),NaN
234,TLS,East Asia & Pacific,Lower middle income,NaN,Timor-Leste,NaN
235,TMN,NaN,NaN,Middle East & North Africa (IDA & IBRD countri...,Middle East & North Africa (IDA & IBRD),NaN
236,TON,East Asia & Pacific,Upper middle income,NaN,Tonga,NaN
237,TSA,NaN,NaN,South Asia (IDA & IBRD countries) aggregate.,South Asia (IDA & IBRD),NaN
238,TSS,NaN,NaN,Sub-Saharan Africa (IDA & IBRD countries) aggr...,Sub-Saharan Africa (IDA & IBRD),NaN
239,TTO,Latin America & Caribbean,High income,NaN,Trinidad and Tobago,NaN
240,TUN,Middle East & North Africa,Lower middle income,NaN,Tunisia,NaN
241,TUR,Europe & Central Asia,Upper middle income,NaN,Turkey,NaN
242,TUV,East Asia & Pacific,Upper middle income,NaN,Tuvalu,NaN
243,TZA,Sub-Saharan Africa,Low income,NaN,Tanzania,NaN
244,UGA,Sub-Saharan Africa,Low income,Fiscal year end: June 30; reporting period for...,Uganda,NaN
245,UKR,Europe & Central Asia,Lower middle income,NaN,Ukraine,NaN
246,UMC,NaN,NaN,Upper middle income group aggregate. Upper-mid...,Upper middle income,NaN
247,URY,Latin America & Caribbean,High income,NaN,Uruguay,NaN
248,USA,North America,High income,NaN,United States,NaN
249,UZB,Europe & Central Asia,Lower middle income,NaN,Uzbekistan,NaN
250,VCT,Latin America & Caribbean,Upper middle income,NaN,St. Vincent and the Grenadines,NaN
251,VEN,Latin America & Caribbean,Upper middle income,NaN,"Venezuela, RB",NaN
252,VGB,Latin America & Caribbean,High income,NaN,British Virgin Islands,NaN
253,VIR,Latin America & Caribbean,High income,NaN,Virgin Islands (U.S.),NaN
254,VNM,East Asia & Pacific,Lower middle income,NaN,Vietnam,NaN
255,VUT,East Asia & Pacific,Lower middle income,NaN,Vanuatu,NaN
256,WLD,NaN,NaN,World aggregate.,World,NaN
257,WSM,East Asia & Pacific,Upper middle income,Fiscal year ends on June 30; reporting period ...,Samoa,NaN
258,XKX,Europe & Central Asia,Upper middle income,NaN,Kosovo,NaN
259,YEM,Middle East & North Africa,Low income,NaN,"Yemen, Rep.",NaN
260,ZAF,Sub-Saharan Africa,Upper middle income,Fiscal year end: March 31; reporting period fo...,South Africa,NaN
261,ZMB,Sub-Saharan Africa,Lower middle income,National accounts data were rebased to reflect...,Zambia,NaN
262,ZWE,Sub-Saharan Africa,Lower middle income,NaN,Zimbabwe,NaN

In [ ]:
# But today, we focus on Built-In Type of python first.
# The advance skill is not right now for everybody to learn 
# ( but maybe that is ok for smart student to learn by themselves in this time)
# In this class, we still need to focus the enhancement of our basic skill.

In [ ]:
# Mutable and Immutable
"""
Multable Definition:
    Mutable objects can change their value but keep their id().
    
Immutable Definition:
    An object with a fixed value. Immutable objects include numbers, strings and 
  tuples. Such an object cannot be altered. A new object has to be created if
  a different value has to be stored. They play an important role in places where
  a constant has value is needed. for example as a key in a dictionary. 
  
Hashable Definition:
    An object is hashable if it has a hash value which never changes during
  its lifetime (it needs a hash() method), and can be compared to other objects
  (it needs an eq() method). Hashable objects which compare equal must have
  the same hash value.
"""
pass

In [ ]:
# Mutable and Immutable
#  The value of immutable object cannot be changed
#  But why can we still write ?
#    x = 3
#    x = 1
#    x = x + 1
#  What happened if we write
#    x = "dead"
#    x += "beef"

In [ ]:
# Summary 
"""
  Data type        | Multable | Ordered |       Literal example       |  Constructor  |
  =======================================================================================
   Sequence types
  =======================================================================================
    list              yes        yes               [1,2,3]              list()        
    tuple             no         yes               (1,2,3)              tuple()
    str               no         yes            "text" / 'text'         str()
    range             no         yes                  -                 range()
    bytes             no         yes            b'abcde'/b"abc"         bytes()
    bytearray         yes        yes                  -                 bytearray()
    array*            yes        yes                  -                 array.array()
  ======================================================================================
   Set types
  ======================================================================================
    set               yes        no                {1,2,3}              set()
    frozenset         no         no                   -                 frozenset()
  ======================================================================================
   Mapping types      
  ======================================================================================
    dict              yes        no       {"key1":"val","key2":"val"}   dict()
    
"""
pass

In [ ]:
# Common Operations for sequence type
# The operations of following table are supported by most seqeunce type.
"""
  Operation               Result
  ======================================================================================
   x in s                 True if an item of s is equal to x, else False
   x not in s             False if an item of s is equal to x, else True
   s + t                  the concatenation of s and t
   s * n                  equivalent to adding s to itself n times
   s[i]                   i_th item of s, origin 0
   s[i:j]                 slice of s from i to j 
   s[i:j:k]               slice of s from i to j with step k 
   len(s)                 length of s 
   min(s)                 smallest item of s
   max(s)                 largest item of s 
   s.index(x[, i[, j]])   index of the first occurence of x in s 
                          (at or after index i and before index j)
   s.count(x)             total number of occurences of x in s
   
   
"""
pass

In [45]:
# Operator's Example  in, not in 
# I'm so glad to try the following example by myself
x = [1,2,3] # Try  1 in x? 6 in x?
x = {1:2, 3:4, 5:6} # Try 1 in x? 2 in x? 1 in x.keys()? 2 in x.values()?
x = "string" # try 's' in x? 'a' in x?

In [ ]:
# Example: +operator
(1,2,3) + (4,5,6) # => (1,2,3,4,5,6)
[1,2,3] + [4,5,6] # => [1,2,3,4,5,6]
"Hello" + " " + "World" # => 'Hello World'

# Note that + operator creates another instance
pass

In [ ]:
"gg" in "eggs"

In [ ]:
# [[]]*3 are references to a singple empty list
lists = [[]] * 3
print(lists)
lists[0].append(3)
print(lists)

In [ ]:
lists = [[] for i in range(3)]
print(lists)
lists[0].append(3)
lists[1].append(5)
lists[2].append(7)
print(lists)

In [ ]:
# Common Operations for 'multable' type
"""
  Operation         Result
  ============================================
  s[i] = x          item i of s is replaced by x
  s[i:j] = t        slice of s from i to j is replaced by the contents of the iterable t
  del s[i:j]        same as s[i:j] = []
  s[i:j:k] = t      the elements of s[i:j:k] are replaced by those of t 
  del s[i:j:k]      removes the elements of s[i:j:k] from the list
  s.append(x)       appends x to the end of the sequence(same as
                    s[len(s):len(s)] = [x] )
  s.clear()         removes all items from s (same as del s[:])
  s.copy()          creates a shallow copy of s (same as s[:])
  
  s.extend(t)       extends s with the contents of t(for the most part that the same
  or s += t         as s[len(s):len(s)] = t )
  
  s *= n            updates s with its contents repeated n times
  s.insert(i,x)     inserts x into s at the index given by i(same as s[i:i] = [x])
  s.pop([i])        retrieves the item at i and also removes it from s
  s.remove(x)       remove the first item from s where s[i] == x
  s.reverse()       reverses the items of s in place
  
"""
pass

In [ ]:
# How to use container type?
# List , Dict, Tuple, Set are container types

x = {"dog":1, "cat":2, "bird":3}
print(x["dog"])
x["bear"] = 4
x["dog"] = 4
print(x.keys())
print(x.values())
print(len(x))

In [ ]:
# List
"""
  .List are mutable sequences,typically used to store 
   collections of homogeneous items
  .Lists may be constructed in several ways:
    . Using a pair of square brackets to denote the empty list: []
    . Using square brackets, separating items with commas:[a], [a,b,c]
    . Using a list comprehension: [x for x in iterable]
    . Using the type constructor:list() or list(iterable)
  .Lists implement all sequence operations of the common and mutable types
"""
pass

In [ ]:
# List Slicing examples as following cells
squares = [1,4,9,16,25]
print(squares)
print(squares[0])
print(squares[-1])
print(squares[-3:])
print(squares[:])
print(squares + [36,49,64,81,100])

In [47]:
letters = ['a','b','c','d']
print(len(letters))
a = ['a','b','c']
n = [1,2,3]
x = [a,n]
print(x)
print(x[0])
print(x[0][1])

4
[['a', 'b', 'c'], [1, 2, 3]]
['a', 'b', 'c']
b

In [48]:
cubes = [1,8,27,65,125] #something is wrong here
print(4 ** 3)
cubes[3] = 64 #replace the wrong value
print(cubes)
cubes.append(216) # add cube of 6
cubes.append( 7 ** 3) # add cube of 7
print(cubes)

64
[1, 8, 27, 64, 125]
[1, 8, 27, 64, 125, 216, 343]

In [49]:
letters = ['a','b','c','d','e','f','g']
print(letters)
# replace some values
letters[2:5] = ['C','D','E']
print(letters)
# now, remove them
letters[2:5] = []
print(letters)
# clear the list by replacing all the elements with an empty list
letters[:] = []
print(letters)

['a', 'b', 'c', 'd', 'e', 'f', 'g']
['a', 'b', 'C', 'D', 'E', 'f', 'g']
['a', 'b', 'f', 'g']
[]

In [ ]:
# Tuple : Read-only List
"""
. Tuples are immutable sequences, typically used to store collections of heterogeneous data
. Tuples may be constructed in a number of ways:
  . Using a pair of parentheses to denote the empty tuple:()
  . Using a trailing comma for a singleton tuple: a, or (a,)
  . Separating items with commas: a, b, c or (a,b,c)
  . Using the tuple() built-in: tuple() or tuple(iterable)
. Tuples implement all of the common sequence operations.

  
"""
pass

In [50]:
# Ranges
"""
. The range type represents an immutable sequence of numbers and 
  is commonly used for looping a specific number of times in for 
  loops.
. Ranges implement all of the common sequence operations except 
  operations except concatenation and repetition
"""
print(list(range(10)))
print(list(range(1,11)))
print(list(range(0,30,5)))
print(list(range(0,10,3)))
print(list(range(0,-10,-1)))
print(list(range(0)))
print(list(range(1,0)))
pass

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 5, 10, 15, 20, 25]
[0, 3, 6, 9]
[0, -1, -2, -3, -4, -5, -6, -7, -8, -9]
[]
[]

In [52]:
r = range(0,20,2)
print(r)
print(11 in r)
print(10 in r)
print(r.index(10)) # Will get 5

print('')

print(r[5])
print(r[:5])
print(range(0,10,2))
print(r[-1])

range(0, 20, 2)
False
True
5

10
range(0, 10, 2)
range(0, 10, 2)
18

In [53]:
# Text Sequence Type

#. single quotes('........')
#. double quotes(".........")
#. triple-quoted strings(""".......""" or '''........''')
#. The backslash(\) character is used to escape characters that otherwise have a special meaning,
#. Textual data in Python is handled with str objects, or strings.
#. Strings are immutable sequences

In [54]:
# String
print('spam eggs')
print('doesn\'t')
print("doesn't")
print('"Yes," he said.')
print("\"Yes,\" he said.")
print('"Isn\'t," she said')

spam eggs
doesn't
doesn't
"Yes," he said.
"Yes," he said.
"Isn't," she said

In [55]:
s = 'First line.\nSecond line.' # \n means newline
print(s)

First line.
Second line.

In [56]:
# Escape character

#  Escape Sequence    Meaning
# ===============================
# \\                 Backslash (\)
# \'                 Single quote (')
# \"                 Double quote (")
# \a                 ASCII Bell (BEL)
# \b                 ASCII Backspace (BS)
# \f                 ASCII Formfeed (FF)
# \n                 ASCII Linefeed (LF)
# \r                 ASCII Carriage Return (CR)
# \t                 ASCII Horizontal Tab (TAB)
# \v                 ASCII Vertical Tab (VT)
# \ooo               ASCII character with octal value ooo
# \xhh...            ASCII ASCII character with hex value hh...
 
print('C:\some\name') # here \n means newline ! 
print(r'C:\some\name') # note the r before the quote
print("""\
Usage: thingy [OPTIONS]
    -h            Display this usage message
    -H hostname   Hostname to connect to 
""")

C:\some
ame
C:\some\name
Usage: thingy [OPTIONS]
    -h            Display this usage message
    -H hostname   Hostname to connect to

In [57]:
print(3 * 'un' + 'ium')
print('Py' 'thon')
print('Py' + 'thon')

unununium
Python
Python

In [58]:
word = 'Python'
print(word[0])
print(word[5])
print(word[-1])
print(word[-2])
print(word[-6])
print(word[0:2])
print(word[2:5])
print('===============')
print(word[:2] + word[2:])
print(word[:4] + word[4:])
print(word[:2])
print(word[4:])
print(word[-2:])

P
n
n
o
P
Py
tho
===============
Python
Python
Py
on
on

In [ ]:
# String is immutable
# Python srings cannot be changed 
# Therefore, assigning to an indexed position in the string results in an error
word = 'Python'
word[0] = 'J'

In [ ]:
word[2:] = 'py'

In [ ]:
'J' + word[1:]

In [ ]:
word[:2] + 'py'

In [ ]:
s = 'supercalifragilisticexpasdfddaas'
len(s)

In [ ]:
#
# String Method: in, strip, split
#
print('Py' in 'Python')
print('    spacious    '.strip())
print('www.example.com'.strip('cmowz.'))
print('1,2,3'.split(','))
print('1,2,3'.split(',', maxsplit=1))
print('1,2,,3,'.split(','))

# find(sub[, start[, end[[]]]])
# Return the lowest index in the string where substring sub is found within the slice s[start:end]

In [ ]:
# The following skill will help you how to process 
# to let CPU and GPU work seperately when you use multi-thread

In [ ]:
# Too Advanced Part ...  but it may too long term for you 
# Juts ignore this topic ... but you can self-learn it
# More on Lists
"""
 append(item): append item to the list
 insert(index, item): insert item into specific position
 extend(list): append the input list at the end of current list
 index(item): the first occurrence of the input item
 count(item): number of occurrence of the input item
 remove(item): remove the first occurrence of the input item
 reverse(): reverse the order of the list
 sort(): sort the list
 sort(comp_func): osrt using user defined comparison function
"""

fruits = ['orange','apple','pear','banana','apple','banana','banana']
print('--- count ---')
print(fruits.count('apple'))
print(fruits.count('banana'))
print(fruits.count('pieapple'))
print('--- index ---')
print(fruits.index('banana'))
print(fruits.index('banana', 2)) # Find next banana starting a position 4
print(fruits.index('banana', 3)) # Find next banana starting a position 4
print(fruits.index('banana', 4)) # Find next banana starting a position 4

print('--- reverse ---')
print('before reverse()')
print(fruits)
print('after reverse()')
fruits.reverse()
print(fruits)

print('--- after sort ---')
fruits.sort()
print(fruits)

print('--- after pop ---')
pop_item = fruits.pop()
print(fruits)
print('pop_item = ', pop_item)
pass

In [ ]:
# Using List as Statck
#  . Stack => First In First Out
stack = [3, 4, 5]
stack.append(6) # push 6
stack.append(7) # push 7
print(stack)
print(stack.pop())
print(stack)
print(stack.pop())
print(stack.pop())
print(stack)

In [ ]:
# Using List as Queue
# . Queue => First In First Out
from collections import deque
queue = deque(['Eric', 'John', 'Mike'])
queue.append('Teddy') # Teddy arrives
queue.append('George') # George arrives
print(queue.popleft()) # The first to arrive leaveing now
print(queue.popleft()) # The second to arrive leaveing now
print(queue) # remaining queue in order of arrival

In [ ]:
# Useful part 
# List comprehension

# List comprehension provide a concise way to create lists, common applications are
"""
. To make new lists where each element is the result of some operations applied 
  to each member of another sequence or iterable
. To create a subsequence of those elements that satisfy a certain condition

"""
pass

In [59]:
# For example, to create a list of sequare:
squares = []
for x in range(10):
    squares.append( x**2)
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [60]:
# With list comprehension, we can simply:
squares = [x**2 for x in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [61]:
# The rule of list comprehension
#  [mapping-expression for elemenet in source-list iffilter-expression]

#  Some examples

squares = []
for x in range(10):
    squares.append(x**2)
print(squares)

# Note that this creates (or overwrites) a variable named x that still exists after the loop complete
squares = list(map(lambda x: x**2, range(10)))
print(squares)

# or , equivalently:
squares = [x**2 for x in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [62]:
# The mapping-expression can be complicated as you want, can also be another list comprehension
combs = [(x,y) for x in [1,2,3] for y in [3,1,4] if x != y]
print(combs)

# and it is equivalent to :
combs = []
for x in [1,2,3]:
    for y in [3,1,4]:
        if x != y:
            combs.append((x, y))
print(combs)

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]
[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [63]:
# More examples for list comprehension PART-I
vec = [-4, -2, 0, 2, 4]

# create a new list with the values doubled
print([x*2 for x in vec])

# filter the list to exclude negative numbers
print([x for x in vec if x >= 0])

# apply a function to all the elements
print([abs(x) for x in vec])

[-8, -4, 0, 4, 8]
[0, 2, 4]
[4, 2, 0, 2, 4]

In [64]:
# More examples for list comprehension PART-II
# call a method on each leement
freshfruit = ['  banana', '  loganberry ', 'passion fruit  ']
print([weapon.strip() for weapon in freshfruit])

# create a list of 2-tuples like (number, square)
print( [(x,x**2) for x in range(6)] )
# the tuple must be parenthesized , otherwise an error is raised

# flatten a list using a listcomp with two 'for'
vec = [[1,2,3], [4,5,6], [7,8,9]]
print ( [num for elem in vec for num in elem] )

['banana', 'loganberry', 'passion fruit']
[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [65]:
# Nested List comprehensions 
matrix = [ [1,2,3,4], [5,6,7,8], [9,10,11,12] ]
print(matrix)

# The following list comprehension will transpose rows and columns:
matrix_T = [[row[i] for row in matrix ] for i in range(4)]
print(matrix_T)

# zip() function would do a great job for this use case:
print(list(zip(*matrix)))

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]
[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]
[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

In [66]:
# The del statement
a = [-1, 1, 66.25, 333, 333, 1234.5]
print(a)
del a[0]
print(a)
print('====')
del a[2:4]
print(a)
del a[:]
print(a)
print ( '====')
# del can also be used to delete entire variables:
del a
print(a)

[-1, 1, 66.25, 333, 333, 1234.5]
[1, 66.25, 333, 333, 1234.5]
====
[1, 66.25, 1234.5]
[]
====

NameError: name 'a' is not defined

In [67]:
# . Atuple consists of a number of values separated by commas
t = 12345, 54321, 'hello!'
print(t[0])
print(t)

# Tuples may be nested:
u = t, (1,2,3,4,5)
print(u)

# Tuples are immutable:
t[0] = 88888
print(t[0])

12345
(12345, 54321, 'hello!')
((12345, 54321, 'hello!'), (1, 2, 3, 4, 5))

TypeError: 'tuple' object does not support item assignment

In [ ]:
# Set

In [ ]:
# . A set is an unordered collection with no duplicate elements
# . To create an empty set you have to use set(), not {}
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(basket)
print( 'orange' in basket)
print( 'crabgrass' in basket)

In [68]:
# Demonstrate set operations on unique letters from two words
a = set('abracadabra')
b = set('alacazam')

# unique letters in a
print(a)

# unique letters in b
print(b)

# lettes in a but not in b
print(a - b)

# letters in either a or b
print(a | b)

# letters in both a and b
print(a & b)

# letters in a or b but not both
print(a ^ b)

{'r', 'c', 'a', 'b', 'd'}
{'z', 'c', 'a', 'l', 'm'}
{'r', 'd', 'b'}
{'z', 'r', 'c', 'a', 'l', 'b', 'm', 'd'}
{'c', 'a'}
{'l', 'b', 'z', 'r', 'm', 'd'}

In [ ]:
# Dict

In [69]:
# . associative arrays" : {key: value pair, }
tel = {'milo':1111, 'sac':1234, }
tel['frankie'] = 4333
print(tel)

# del sac'data and add ivy's data
del tel['sac']
tel['ivy'] = 1111
print(tel)

# show keys
print(list(tel.keys()))

# show sorted keys
print(sorted(tel.keys()))

print('milo' in tel)
print('sac' in tel)

{'milo': 1111, 'sac': 1234, 'frankie': 4333}
{'milo': 1111, 'frankie': 4333, 'ivy': 1111}
['milo', 'frankie', 'ivy']
['frankie', 'ivy', 'milo']
True
False

In [ ]:
# Loop in adavnced

In [70]:
for i in reversed (range(1, 10, 2)):
    print(i)

9
7
5
3
1

In [71]:
basket = ['apple','orange', 'apple', 'pear', 'orange', 'banana']
for fruit in sorted(set(basket)):
    print(fruit)

apple
banana
orange
pear

In [72]:
# The dict() constructor buildsdictionaries directly from sequences of key-value pairs:
d = dict([('sac',1111), ('milo',2222), ('frankie',3333)])
print(d)

# In addition, dict comprehensions can be used to create diconaries from arbitrary key and value expressions:
print( {x: x**2 for x in (2,4,6)} )

# When the keys are simple strings, it is sometimes easier to specifiy pairs using keyword arguments:
print( dict(sac=1111, milo=2222, frankie=3333) )

# Similarly to list comprehensions, set comprehensions are also supported:
print ( {x for x in 'abracadabra' if x not in 'abc'} )

{'sac': 1111, 'milo': 2222, 'frankie': 3333}
{2: 4, 4: 16, 6: 36}
{'sac': 1111, 'milo': 2222, 'frankie': 3333}
{'r', 'd'}

In [73]:
# Comparing Sequences and Other Types
print('Compare tuple, list and string')
print( (1,2,3) < (1,2,4) )
print( [1,2,3] < [1,2,4] )
print( 'ABC' < 'C')
print( 'C' < 'Pascal' )
print( 'Pascal' < 'Python' )
print('============')
print('Compare different tuple')
print( (1,2,3,4) < (1,2,4) )
print( (1,2) < (1,2,-1)  )
print( (1,2,('aa','ab')) < (1,2,('abc','a'),4) )

Compare tuple, list and string
True
True
True
True
True
============
Compare different tuple
True
True
True