In [1]:
# Pandas is a library that provides useful data structure and data analysis tools
# pandas is well suited for many different kinds of data
# . Tabular data with heterogeneously-typed columns, as in an SQL table or Excel spreadsheet
# . Ordered and unordered (not necessarily fixed-frequency) time series data.
# . Arbitrary matrix data (homogeneously typed or heterogeneous) with row and column labels
# . Any other form of observational / statistical data sets. The data actually need not be labeled 
#   at all to be placed into a pandas data structure. 

import numpy as np
import pandas as pd

In [2]:
# Pandas Data Structure

In [3]:
# . Series
#   . One dimension array capable of holding any data type,
# . To create Series
data = np.array([1,2,3,4])
index = np.array(['a','b','c','d'])
s = pd.Series(data, index=index)
print(s)
# . The "data" can be list, tuple, dict, numpy.ndarray ...

a    1
b    2
c    3
d    4
dtype: int64

In [4]:
s = pd.Series([1,2,3,4])
print(s)
print('')
x = {'a':0, 'b':1} # x is dictionary
s = pd.Series(x)
print(s)

0    1
1    2
2    3
3    4
dtype: int64

a    0
b    1
dtype: int64

In [5]:
# . The index should be the same size with the data
s = pd.Series([0,1,2,3], index = ['a','b','c','d'])
print(s)

a    0
b    1
c    2
d    3
dtype: int64

In [6]:
# . You can access the series element by their index
print(s['b'])
print('')
S = set()
S.add('a')
S.add('c')
print(s[S])

1

c    2
a    0
dtype: int64

In [7]:
# . Data frame
#  . 2-dimensional labeled data structure with columns of poetentially different types
#  . like a spreadsheet or SQL table, or a dict of Series objects
#  . accepts many different kinds of input:
#    . Dict of 1D ndarrays, lists, dicts, or Series
#    . 2-D numpy.ndarray
#    . Structured or record ndarry
#    . A Series
#    . Another DataFrame

In [8]:
# From dict of series or dict
d = {}
d['a'] = pd.Series([1,2,3,4], index = ['a','b','c','d'])
d['b'] = pd.Series([5,6,7,8], index = ['c','a','b','x'])
df = pd.DataFrame(d)
print(df)

     a    b
a  1.0  6.0
b  2.0  7.0
c  3.0  5.0
d  4.0  NaN
x  NaN  8.0

In [9]:
# The index and column parameter
df = pd.DataFrame(d, index = ['a','b','c'])
print(df)
print('')
df = pd.DataFrame(d, index = ['a','b','c'], columns = ['a','d'])
print(df)

   a  b
a  1  6
b  2  7
c  3  5

   a    d
a  1  NaN
b  2  NaN
c  3  NaN

In [10]:
# From list of dict
x = [{'a':1, 'b':2}, {'a':3, 'b':4, 'c':5}]
print(pd.DataFrame(x))
print('')
print(pd.DataFrame(x, index = ['first','second']))
print('')
print(pd.DataFrame(x, index = ['first','second'], columns=['a','c']))
print('')

   a  b    c
0  1  2  NaN
1  3  4  5.0

        a  b    c
first   1  2  NaN
second  3  4  5.0

        a    c
first   1  NaN
second  3  5.0

In [11]:
# Read data
# . However, most of the time the data issotred in the file.
# . Pandas provides convenient functions to read data.
# . pandas.read_csv()
# . For example, if we have data like
csv_filename = 'Metadata_Country_API.csv'
pd.read_csv(csv_filename)

,Country Code,Region,IncomeGroup,SpecialNotes,TableName,Unnamed: 5
0,ABW,Latin America & Caribbean,High income,NaN,Aruba,NaN
1,AFG,South Asia,Low income,NaN,Afghanistan,NaN
2,AGO,Sub-Saharan Africa,Lower middle income,NaN,Angola,NaN
3,ALB,Europe & Central Asia,Upper middle income,NaN,Albania,NaN
4,AND,Europe & Central Asia,High income,NaN,Andorra,NaN
5,ARB,NaN,NaN,Arab World aggregate. Arab World is composed o...,Arab World,NaN
6,ARE,Middle East & North Africa,High income,NaN,United Arab Emirates,NaN
7,ARG,Latin America & Caribbean,Upper middle income,NaN,Argentina,NaN
8,ARM,Europe & Central Asia,Upper middle income,NaN,Armenia,NaN
9,ASM,East Asia & Pacific,Upper middle income,NaN,American Samoa,NaN
10,ATG,Latin America & Caribbean,High income,NaN,Antigua and Barbuda,NaN
11,AUS,East Asia & Pacific,High income,Fiscal year end: June 30; reporting period for...,Australia,NaN
12,AUT,Europe & Central Asia,High income,A simple multiplier is used to convert the nat...,Austria,NaN
13,AZE,Europe & Central Asia,Upper middle income,NaN,Azerbaijan,NaN
14,BDI,Sub-Saharan Africa,Low income,NaN,Burundi,NaN
15,BEL,Europe & Central Asia,High income,A simple multiplier is used to convert the nat...,Belgium,NaN
16,BEN,Sub-Saharan Africa,Low income,NaN,Benin,NaN
17,BFA,Sub-Saharan Africa,Low income,NaN,Burkina Faso,NaN
18,BGD,South Asia,Lower middle income,Fiscal year end: June 30; reporting period for...,Bangladesh,NaN
19,BGR,Europe & Central Asia,Upper middle income,NaN,Bulgaria,NaN
20,BHR,Middle East & North Africa,High income,NaN,Bahrain,NaN
21,BHS,Latin America & Caribbean,High income,NaN,"Bahamas, The",NaN
22,BIH,Europe & Central Asia,Upper middle income,NaN,Bosnia and Herzegovina,NaN
23,BLR,Europe & Central Asia,Upper middle income,Data before 2015 were adjusted to reflect the ...,Belarus,NaN
24,BLZ,Latin America & Caribbean,Upper middle income,NaN,Belize,NaN
25,BMU,North America,High income,NaN,Bermuda,NaN
26,BOL,Latin America & Caribbean,Lower middle income,NaN,Bolivia,NaN
27,BRA,Latin America & Caribbean,Upper middle income,NaN,Brazil,NaN
28,BRB,Latin America & Caribbean,High income,NaN,Barbados,NaN
29,BRN,East Asia & Pacific,High income,NaN,Brunei Darussalam,NaN
...,...,...,...,...,...,...
233,TLA,NaN,NaN,Latin America & the Caribbean (IDA & IBRD coun...,Latin America & Caribbean (IDA & IBRD),NaN
234,TLS,East Asia & Pacific,Lower middle income,NaN,Timor-Leste,NaN
235,TMN,NaN,NaN,Middle East & North Africa (IDA & IBRD countri...,Middle East & North Africa (IDA & IBRD),NaN
236,TON,East Asia & Pacific,Upper middle income,NaN,Tonga,NaN
237,TSA,NaN,NaN,South Asia (IDA & IBRD countries) aggregate.,South Asia (IDA & IBRD),NaN
238,TSS,NaN,NaN,Sub-Saharan Africa (IDA & IBRD countries) aggr...,Sub-Saharan Africa (IDA & IBRD),NaN
239,TTO,Latin America & Caribbean,High income,NaN,Trinidad and Tobago,NaN
240,TUN,Middle East & North Africa,Lower middle income,NaN,Tunisia,NaN
241,TUR,Europe & Central Asia,Upper middle income,NaN,Turkey,NaN
242,TUV,East Asia & Pacific,Upper middle income,NaN,Tuvalu,NaN
243,TZA,Sub-Saharan Africa,Low income,NaN,Tanzania,NaN
244,UGA,Sub-Saharan Africa,Low income,Fiscal year end: June 30; reporting period for...,Uganda,NaN
245,UKR,Europe & Central Asia,Lower middle income,NaN,Ukraine,NaN
246,UMC,NaN,NaN,Upper middle income group aggregate. Upper-mid...,Upper middle income,NaN
247,URY,Latin America & Caribbean,High income,NaN,Uruguay,NaN
248,USA,North America,High income,NaN,United States,NaN
249,UZB,Europe & Central Asia,Lower middle income,NaN,Uzbekistan,NaN
250,VCT,Latin America & Caribbean,Upper middle income,NaN,St. Vincent and the Grenadines,NaN
251,VEN,Latin America & Caribbean,Upper middle income,NaN,"Venezuela, RB",NaN
252,VGB,Latin America & Caribbean,High income,NaN,British Virgin Islands,NaN
253,VIR,Latin America & Caribbean,High income,NaN,Virgin Islands (U.S.),NaN
254,VNM,East Asia & Pacific,Lower middle income,NaN,Vietnam,NaN
255,VUT,East Asia & Pacific,Lower middle income,NaN,Vanuatu,NaN
256,WLD,NaN,NaN,World aggregate.,World,NaN
257,WSM,East Asia & Pacific,Upper middle income,Fiscal year ends on June 30; reporting period ...,Samoa,NaN
258,XKX,Europe & Central Asia,Upper middle income,NaN,Kosovo,NaN
259,YEM,Middle East & North Africa,Low income,NaN,"Yemen, Rep.",NaN
260,ZAF,Sub-Saharan Africa,Upper middle income,Fiscal year end: March 31; reporting period fo...,South Africa,NaN
261,ZMB,Sub-Saharan Africa,Lower middle income,National accounts data were rebased to reflect...,Zambia,NaN
262,ZWE,Sub-Saharan Africa,Lower middle income,NaN,Zimbabwe,NaN

In [12]:
pd.read_csv(csv_filename, index_col = 0)

,Region,IncomeGroup,SpecialNotes,TableName,Unnamed: 5
Country Code,,,,,
ABW,Latin America & Caribbean,High income,NaN,Aruba,NaN
AFG,South Asia,Low income,NaN,Afghanistan,NaN
AGO,Sub-Saharan Africa,Lower middle income,NaN,Angola,NaN
ALB,Europe & Central Asia,Upper middle income,NaN,Albania,NaN
AND,Europe & Central Asia,High income,NaN,Andorra,NaN
ARB,NaN,NaN,Arab World aggregate. Arab World is composed o...,Arab World,NaN
ARE,Middle East & North Africa,High income,NaN,United Arab Emirates,NaN
ARG,Latin America & Caribbean,Upper middle income,NaN,Argentina,NaN
ARM,Europe & Central Asia,Upper middle income,NaN,Armenia,NaN
ASM,East Asia & Pacific,Upper middle income,NaN,American Samoa,NaN
ATG,Latin America & Caribbean,High income,NaN,Antigua and Barbuda,NaN
AUS,East Asia & Pacific,High income,Fiscal year end: June 30; reporting period for...,Australia,NaN
AUT,Europe & Central Asia,High income,A simple multiplier is used to convert the nat...,Austria,NaN
AZE,Europe & Central Asia,Upper middle income,NaN,Azerbaijan,NaN
BDI,Sub-Saharan Africa,Low income,NaN,Burundi,NaN
BEL,Europe & Central Asia,High income,A simple multiplier is used to convert the nat...,Belgium,NaN
BEN,Sub-Saharan Africa,Low income,NaN,Benin,NaN
BFA,Sub-Saharan Africa,Low income,NaN,Burkina Faso,NaN
BGD,South Asia,Lower middle income,Fiscal year end: June 30; reporting period for...,Bangladesh,NaN
BGR,Europe & Central Asia,Upper middle income,NaN,Bulgaria,NaN
BHR,Middle East & North Africa,High income,NaN,Bahrain,NaN
BHS,Latin America & Caribbean,High income,NaN,"Bahamas, The",NaN
BIH,Europe & Central Asia,Upper middle income,NaN,Bosnia and Herzegovina,NaN
BLR,Europe & Central Asia,Upper middle income,Data before 2015 were adjusted to reflect the ...,Belarus,NaN
BLZ,Latin America & Caribbean,Upper middle income,NaN,Belize,NaN
BMU,North America,High income,NaN,Bermuda,NaN
BOL,Latin America & Caribbean,Lower middle income,NaN,Bolivia,NaN
BRA,Latin America & Caribbean,Upper middle income,NaN,Brazil,NaN
BRB,Latin America & Caribbean,High income,NaN,Barbados,NaN
BRN,East Asia & Pacific,High income,NaN,Brunei Darussalam,NaN
...,...,...,...,...,...
TLA,NaN,NaN,Latin America & the Caribbean (IDA & IBRD coun...,Latin America & Caribbean (IDA & IBRD),NaN
TLS,East Asia & Pacific,Lower middle income,NaN,Timor-Leste,NaN
TMN,NaN,NaN,Middle East & North Africa (IDA & IBRD countri...,Middle East & North Africa (IDA & IBRD),NaN
TON,East Asia & Pacific,Upper middle income,NaN,Tonga,NaN
TSA,NaN,NaN,South Asia (IDA & IBRD countries) aggregate.,South Asia (IDA & IBRD),NaN
TSS,NaN,NaN,Sub-Saharan Africa (IDA & IBRD countries) aggr...,Sub-Saharan Africa (IDA & IBRD),NaN
TTO,Latin America & Caribbean,High income,NaN,Trinidad and Tobago,NaN
TUN,Middle East & North Africa,Lower middle income,NaN,Tunisia,NaN
TUR,Europe & Central Asia,Upper middle income,NaN,Turkey,NaN
TUV,East Asia & Pacific,Upper middle income,NaN,Tuvalu,NaN
TZA,Sub-Saharan Africa,Low income,NaN,Tanzania,NaN
UGA,Sub-Saharan Africa,Low income,Fiscal year end: June 30; reporting period for...,Uganda,NaN
UKR,Europe & Central Asia,Lower middle income,NaN,Ukraine,NaN
UMC,NaN,NaN,Upper middle income group aggregate. Upper-mid...,Upper middle income,NaN
URY,Latin America & Caribbean,High income,NaN,Uruguay,NaN
USA,North America,High income,NaN,United States,NaN
UZB,Europe & Central Asia,Lower middle income,NaN,Uzbekistan,NaN
VCT,Latin America & Caribbean,Upper middle income,NaN,St. Vincent and the Grenadines,NaN
VEN,Latin America & Caribbean,Upper middle income,NaN,"Venezuela, RB",NaN
VGB,Latin America & Caribbean,High income,NaN,British Virgin Islands,NaN
VIR,Latin America & Caribbean,High income,NaN,Virgin Islands (U.S.),NaN
VNM,East Asia & Pacific,Lower middle income,NaN,Vietnam,NaN
VUT,East Asia & Pacific,Lower middle income,NaN,Vanuatu,NaN
WLD,NaN,NaN,World aggregate.,World,NaN
WSM,East Asia & Pacific,Upper middle income,Fiscal year ends on June 30; reporting period ...,Samoa,NaN
XKX,Europe & Central Asia,Upper middle income,NaN,Kosovo,NaN
YEM,Middle East & North Africa,Low income,NaN,"Yemen, Rep.",NaN
ZAF,Sub-Saharan Africa,Upper middle income,Fiscal year end: March 31; reporting period fo...,South Africa,NaN
ZMB,Sub-Saharan Africa,Lower middle income,National accounts data were rebased to reflect...,Zambia,NaN
ZWE,Sub-Saharan Africa,Lower middle income,NaN,Zimbabwe,NaN

In [13]:
df= pd.read_csv(csv_filename)
print(type(df))

print(df['Country Code'])

<class 'pandas.core.frame.DataFrame'>
0      ABW
1      AFG
2      AGO
3      ALB
4      AND
5      ARB
6      ARE
7      ARG
8      ARM
9      ASM
10     ATG
11     AUS
12     AUT
13     AZE
14     BDI
15     BEL
16     BEN
17     BFA
18     BGD
19     BGR
20     BHR
21     BHS
22     BIH
23     BLR
24     BLZ
25     BMU
26     BOL
27     BRA
28     BRB
29     BRN
      ...
233    TLA
234    TLS
235    TMN
236    TON
237    TSA
238    TSS
239    TTO
240    TUN
241    TUR
242    TUV
243    TZA
244    UGA
245    UKR
246    UMC
247    URY
248    USA
249    UZB
250    VCT
251    VEN
252    VGB
253    VIR
254    VNM
255    VUT
256    WLD
257    WSM
258    XKX
259    YEM
260    ZAF
261    ZMB
262    ZWE
Name: Country Code, Length: 263, dtype: object

In [14]:
# Access elements

In [15]:
csv_filename = 'Metadata_Country_API.csv'
pd.read_csv(csv_filename, index_col=2)

,Country Code,Region,SpecialNotes,TableName,Unnamed: 5
IncomeGroup,,,,,
High income,ABW,Latin America & Caribbean,NaN,Aruba,NaN
Low income,AFG,South Asia,NaN,Afghanistan,NaN
Lower middle income,AGO,Sub-Saharan Africa,NaN,Angola,NaN
Upper middle income,ALB,Europe & Central Asia,NaN,Albania,NaN
High income,AND,Europe & Central Asia,NaN,Andorra,NaN
NaN,ARB,NaN,Arab World aggregate. Arab World is composed o...,Arab World,NaN
High income,ARE,Middle East & North Africa,NaN,United Arab Emirates,NaN
Upper middle income,ARG,Latin America & Caribbean,NaN,Argentina,NaN
Upper middle income,ARM,Europe & Central Asia,NaN,Armenia,NaN
Upper middle income,ASM,East Asia & Pacific,NaN,American Samoa,NaN
High income,ATG,Latin America & Caribbean,NaN,Antigua and Barbuda,NaN
High income,AUS,East Asia & Pacific,Fiscal year end: June 30; reporting period for...,Australia,NaN
High income,AUT,Europe & Central Asia,A simple multiplier is used to convert the nat...,Austria,NaN
Upper middle income,AZE,Europe & Central Asia,NaN,Azerbaijan,NaN
Low income,BDI,Sub-Saharan Africa,NaN,Burundi,NaN
High income,BEL,Europe & Central Asia,A simple multiplier is used to convert the nat...,Belgium,NaN
Low income,BEN,Sub-Saharan Africa,NaN,Benin,NaN
Low income,BFA,Sub-Saharan Africa,NaN,Burkina Faso,NaN
Lower middle income,BGD,South Asia,Fiscal year end: June 30; reporting period for...,Bangladesh,NaN
Upper middle income,BGR,Europe & Central Asia,NaN,Bulgaria,NaN
High income,BHR,Middle East & North Africa,NaN,Bahrain,NaN
High income,BHS,Latin America & Caribbean,NaN,"Bahamas, The",NaN
Upper middle income,BIH,Europe & Central Asia,NaN,Bosnia and Herzegovina,NaN
Upper middle income,BLR,Europe & Central Asia,Data before 2015 were adjusted to reflect the ...,Belarus,NaN
Upper middle income,BLZ,Latin America & Caribbean,NaN,Belize,NaN
High income,BMU,North America,NaN,Bermuda,NaN
Lower middle income,BOL,Latin America & Caribbean,NaN,Bolivia,NaN
Upper middle income,BRA,Latin America & Caribbean,NaN,Brazil,NaN
High income,BRB,Latin America & Caribbean,NaN,Barbados,NaN
High income,BRN,East Asia & Pacific,NaN,Brunei Darussalam,NaN
...,...,...,...,...,...
NaN,TLA,NaN,Latin America & the Caribbean (IDA & IBRD coun...,Latin America & Caribbean (IDA & IBRD),NaN
Lower middle income,TLS,East Asia & Pacific,NaN,Timor-Leste,NaN
NaN,TMN,NaN,Middle East & North Africa (IDA & IBRD countri...,Middle East & North Africa (IDA & IBRD),NaN
Upper middle income,TON,East Asia & Pacific,NaN,Tonga,NaN
NaN,TSA,NaN,South Asia (IDA & IBRD countries) aggregate.,South Asia (IDA & IBRD),NaN
NaN,TSS,NaN,Sub-Saharan Africa (IDA & IBRD countries) aggr...,Sub-Saharan Africa (IDA & IBRD),NaN
High income,TTO,Latin America & Caribbean,NaN,Trinidad and Tobago,NaN
Lower middle income,TUN,Middle East & North Africa,NaN,Tunisia,NaN
Upper middle income,TUR,Europe & Central Asia,NaN,Turkey,NaN
Upper middle income,TUV,East Asia & Pacific,NaN,Tuvalu,NaN
Low income,TZA,Sub-Saharan Africa,NaN,Tanzania,NaN
Low income,UGA,Sub-Saharan Africa,Fiscal year end: June 30; reporting period for...,Uganda,NaN
Lower middle income,UKR,Europe & Central Asia,NaN,Ukraine,NaN
NaN,UMC,NaN,Upper middle income group aggregate. Upper-mid...,Upper middle income,NaN
High income,URY,Latin America & Caribbean,NaN,Uruguay,NaN
High income,USA,North America,NaN,United States,NaN
Lower middle income,UZB,Europe & Central Asia,NaN,Uzbekistan,NaN
Upper middle income,VCT,Latin America & Caribbean,NaN,St. Vincent and the Grenadines,NaN
Upper middle income,VEN,Latin America & Caribbean,NaN,"Venezuela, RB",NaN
High income,VGB,Latin America & Caribbean,NaN,British Virgin Islands,NaN
High income,VIR,Latin America & Caribbean,NaN,Virgin Islands (U.S.),NaN
Lower middle income,VNM,East Asia & Pacific,NaN,Vietnam,NaN
Lower middle income,VUT,East Asia & Pacific,NaN,Vanuatu,NaN
NaN,WLD,NaN,World aggregate.,World,NaN
Upper middle income,WSM,East Asia & Pacific,Fiscal year ends on June 30; reporting period ...,Samoa,NaN
Upper middle income,XKX,Europe & Central Asia,NaN,Kosovo,NaN
Low income,YEM,Middle East & North Africa,NaN,"Yemen, Rep.",NaN
Upper middle income,ZAF,Sub-Saharan Africa,Fiscal year end: March 31; reporting period fo...,South Africa,NaN
Lower middle income,ZMB,Sub-Saharan Africa,National accounts data were rebased to reflect...,Zambia,NaN
Lower middle income,ZWE,Sub-Saharan Africa,NaN,Zimbabwe,NaN

In [16]:
csv_filename = 'Metadata_Country_API.csv'
pd.read_csv(csv_filename, index_col=2)['Region']['Low income']
# you want to show Region where IncomeGroup = 'Low income'
# set index_col = 2 to index IncomeGroup field. 
# Then get Region values where IncomeGroup='Low income' by something['Region']['Low income']

Low income                    South Asia
Low income            Sub-Saharan Africa
Low income            Sub-Saharan Africa
Low income            Sub-Saharan Africa
Low income            Sub-Saharan Africa
Low income            Sub-Saharan Africa
Low income            Sub-Saharan Africa
Low income            Sub-Saharan Africa
Low income            Sub-Saharan Africa
Low income            Sub-Saharan Africa
Low income            Sub-Saharan Africa
Low income     Latin America & Caribbean
Low income            Sub-Saharan Africa
Low income            Sub-Saharan Africa
Low income            Sub-Saharan Africa
Low income            Sub-Saharan Africa
Low income            Sub-Saharan Africa
Low income            Sub-Saharan Africa
Low income                    South Asia
Low income           East Asia & Pacific
Low income            Sub-Saharan Africa
Low income            Sub-Saharan Africa
Low income            Sub-Saharan Africa
Low income            Sub-Saharan Africa
Low income    Middle East & North Africa
Low income            Sub-Saharan Africa
Low income            Sub-Saharan Africa
Low income         Europe & Central Asia
Low income            Sub-Saharan Africa
Low income            Sub-Saharan Africa
Low income    Middle East & North Africa
Name: Region, dtype: object

In [17]:
# . You can also access the rows with
csv_filename = 'Metadata_Country_API.csv'
pd.read_csv(csv_filename, index_col=2)[:3] # get row0, row1,row2

,Country Code,Region,SpecialNotes,TableName,Unnamed: 5
IncomeGroup,,,,,
High income,ABW,Latin America & Caribbean,NaN,Aruba,NaN
Low income,AFG,South Asia,NaN,Afghanistan,NaN
Lower middle income,AGO,Sub-Saharan Africa,NaN,Angola,NaN

In [18]:
# Find the most common value

In [19]:
# . Now we use a relatively large dataset to show the power of pandas.
# . The dataset can be  obtained at 
#   https://data.cityofnewyork.us/dataset/311-Service-Requests-From-2015/57g5-etyj
# . It's the record of service request from the NYC 311 from year of 2015 to now
# . You can try to open it with excel, and this is what you get
# Download address : https://drive.google.com/open?id=1nnQDV1ogUlZUnm_AsN4n5NzBkDfL5Iwh
# Or you can use 311_Service_Requests_from_2010_to_Present_Short.csv (it is short version)

In [20]:
csv_filename = '311_Service_Requests_from_2010_to_Present_Short.csv'
pd.read_csv(csv_filename, index_col=2)[:3] # get row0, row1,row2

,Unique Key,Created Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,Street Name,...,Road Ramp,Bridge Highway Segment,Latitude,Longitude,Location,Zip Codes,Community Districts,Borough Boundaries,City Council Districts,Police Precincts
Closed Date,,,,,,,,,,,,,,,,,,,,,
05/24/2015 09:55:00 AM,30688456,05/24/2015 09:02:00 AM,DOT,Department of Transportation,Traffic Signal Condition,Veh Signal Head,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
03/09/2018 11:10:00 PM,38676721,03/12/2018 09:56:00 AM,DOT,Department of Transportation,Street Light Condition,Street Light Out,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
05/24/2015 08:20:00 PM,30688451,05/24/2015 07:00:00 PM,DOT,Department of Transportation,Traffic Signal Condition,Controller,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
csv_filename = '311_Service_Requests_from_2010_to_Present_Short.csv'
df = pd.read_csv(csv_filename, index_col=2)
df['Complaint Type'].value_counts()[:10]

Street Light Condition            2019
Traffic Signal Condition          1003
HPD Literature Request             199
Street Condition                   134
Water System                        85
Sanitation Condition                83
Sewer                               78
Maintenance or Facility             64
Noise                               57
DOF Property - Reduction Issue      47
Name: Complaint Type, dtype: int64

In [22]:
# . We can even plot it directly
import matplotlib.pyplot as plt
df['Complaint Type'].value_counts()[:10].plot(kind = 'bar')
plt.show()

In [23]:
# . Select only certain type of data
#   . What if we want only the noise complaints ?
noise_complaint = df[df['Complaint Type'] == 'Noise - Street/Sidewalk']
print(noise_complaint.shape)

(2, 45)

In [24]:
noise_complaint[:3]

,Unique Key,Created Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,Street Name,...,Road Ramp,Bridge Highway Segment,Latitude,Longitude,Location,Zip Codes,Community Districts,Borough Boundaries,City Council Districts,Police Precincts
Closed Date,,,,,,,,,,,,,,,,,,,,,
07/29/2019 12:14:56 PM,39469576,06/15/2018 08:50:39 PM,NYPD,New York City Police Department,Noise - Street/Sidewalk,Loud Music/Party,Street/Sidewalk,NaN,WEST 166 STREET,WEST 166 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
07/29/2019 12:14:55 PM,39472381,06/15/2018 08:59:50 PM,NYPD,New York City Police Department,Noise - Street/Sidewalk,Loud Music/Party,Street/Sidewalk,NaN,SHERIDAN AVENUE,SHERIDAN AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
#   . Reset the index with pandas.DataFrame.reset_index()

In [26]:
# How to find the the class name without iterating through the whole data frame ?
df[:10].isnull()

,Unique Key,Created Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,Street Name,...,Road Ramp,Bridge Highway Segment,Latitude,Longitude,Location,Zip Codes,Community Districts,Borough Boundaries,City Council Districts,Police Precincts
Closed Date,,,,,,,,,,,,,,,,,,,,,
05/24/2015 09:55:00 AM,False,False,False,False,False,False,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
03/09/2018 11:10:00 PM,False,False,False,False,False,False,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
05/24/2015 08:20:00 PM,False,False,False,False,False,False,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
05/26/2015 10:09:00 AM,False,False,False,False,False,False,True,True,False,False,...,True,True,True,True,True,True,True,True,True,True
04/29/2018 03:57:57 PM,False,False,False,False,False,False,False,True,True,True,...,True,True,True,True,True,True,True,True,True,True
03/13/2018 12:30:00 AM,False,False,False,False,False,False,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
05/08/2018 04:17:51 PM,False,False,False,False,False,False,False,False,True,True,...,True,True,True,True,True,True,True,True,True,True
03/12/2018 08:21:54 AM,False,False,False,False,False,False,True,False,False,False,...,True,True,True,True,True,True,True,True,True,True
04/29/2018 04:22:49 PM,False,False,False,False,False,False,False,True,True,True,...,True,True,True,True,True,True,True,True,True,True
03/20/2018 08:17:00 AM,False,False,False,False,False,False,True,True,False,False,...,True,True,True,True,True,True,True,True,True,True

In [27]:
# Use any to get whether all element is True
df[:10].isnull().any()

Unique Key                        False
Created Date                      False
Agency                            False
Agency Name                       False
Complaint Type                    False
Descriptor                        False
Location Type                      True
Incident Zip                       True
Incident Address                   True
Street Name                        True
Cross Street 1                     True
Cross Street 2                     True
Intersection Street 1              True
Intersection Street 2              True
Address Type                       True
City                               True
Landmark                           True
Facility Type                      True
Status                            False
Due Date                           True
Resolution Description            False
Resolution Action Updated Date     True
Community Board                   False
BBL                                True
Borough                           False
X Coordinate (State Plane)         True
Y Coordinate (State Plane)         True
Open Data Channel Type            False
Park Facility Name                False
Park Borough                      False
Vehicle Type                       True
Taxi Company Borough               True
Taxi Pick Up Location              True
Bridge Highway Name                True
Bridge Highway Direction           True
Road Ramp                          True
Bridge Highway Segment             True
Latitude                           True
Longitude                          True
Location                           True
Zip Codes                          True
Community Districts                True
Borough Boundaries                 True
City Council Districts             True
Police Precincts                   True
dtype: bool

In [28]:
# The axis is wrong
# Fix with axis argument
df[:10].isnull().any(axis = 1)

Closed Date
05/24/2015 09:55:00 AM    True
03/09/2018 11:10:00 PM    True
05/24/2015 08:20:00 PM    True
05/26/2015 10:09:00 AM    True
04/29/2018 03:57:57 PM    True
03/13/2018 12:30:00 AM    True
05/08/2018 04:17:51 PM    True
03/12/2018 08:21:54 AM    True
04/29/2018 04:22:49 PM    True
03/20/2018 08:17:00 AM    True
dtype: bool

In [29]:
# Access the data frame with index

In [30]:
# The iloc attribute allow you to query the data frame using integer index
csv_filename = '311_Service_Requests_from_2010_to_Present_Short.csv'
df = pd.read_csv(csv_filename)

In [31]:

df

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Road Ramp,Bridge Highway Segment,Latitude,Longitude,Location,Zip Codes,Community Districts,Borough Boundaries,City Council Districts,Police Precincts
0,30688456,05/24/2015 09:02:00 AM,05/24/2015 09:55:00 AM,DOT,Department of Transportation,Traffic Signal Condition,Veh Signal Head,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,38676721,03/12/2018 09:56:00 AM,03/09/2018 11:10:00 PM,DOT,Department of Transportation,Street Light Condition,Street Light Out,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,30688451,05/24/2015 07:00:00 PM,05/24/2015 08:20:00 PM,DOT,Department of Transportation,Traffic Signal Condition,Controller,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,30688579,05/24/2015 01:09:00 PM,05/26/2015 10:09:00 AM,DOT,Department of Transportation,Street Light Condition,Street Light Out,NaN,NaN,50 BRONX RIVER AVE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,39058876,04/29/2018 03:57:39 PM,04/29/2018 03:57:57 PM,HRA,HRA Benefit Card Replacement,Benefit Card Replacement,Medicaid,NYC Street Address,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,38676450,03/12/2018 11:13:00 PM,03/13/2018 12:30:00 AM,DOT,Department of Transportation,Traffic Signal Condition,Controller,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,39059071,04/29/2018 05:40:22 PM,05/08/2018 04:17:51 PM,DPR,Department of Parks and Recreation,Maintenance or Facility,Structure - Indoors,Park,11365,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,38676115,03/12/2018 08:21:54 AM,03/12/2018 08:21:54 AM,DOT,Department of Transportation,Street Condition,Pothole,NaN,10451,EAST 153 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,39058863,04/29/2018 04:22:03 PM,04/29/2018 04:22:49 PM,HRA,HRA Benefit Card Replacement,Benefit Card Replacement,Medicaid,NYC Street Address,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,38676866,03/12/2018 09:07:00 AM,03/20/2018 08:17:00 AM,DOT,Department of Transportation,Street Light Condition,Street Light Out,NaN,NaN,WASHINGTON SQR PARK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,38676185,03/12/2018 11:29:00 AM,07/31/2018 12:00:00 AM,DOT,Department of Transportation,Traffic Signal Condition,Push Button,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,39058875,04/29/2018 01:34:24 PM,04/29/2018 01:34:35 PM,HRA,HRA Benefit Card Replacement,Benefit Card Replacement,Food Stamp,NYC Street Address,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,39059228,04/29/2018 07:45:06 PM,04/29/2018 07:45:59 PM,HRA,HRA Benefit Card Replacement,Benefit Card Replacement,Medicaid,Address Outside of NYC,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,38677539,03/12/2018 11:12:00 PM,03/13/2018 01:15:00 AM,DOT,Department of Transportation,Traffic Signal Condition,Controller,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,38677691,03/12/2018 09:48:00 AM,03/09/2018 09:10:00 PM,DOT,Department of Transportation,Street Light Condition,Street Light Out,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,39059289,04/29/2018 10:23:59 AM,04/29/2018 10:24:42 AM,HRA,HRA Benefit Card Replacement,Benefit Card Replacement,Medicaid,NYC Street Address,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,30688750,05/24/2015 11:53:00 AM,06/19/2015 11:58:00 AM,DOT,Department of Transportation,Street Light Condition,Street Light Dayburning,NaN,NaN,424 42 ST W,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,39059413,04/29/2018 01:20:00 PM,04/29/2018 03:04:43 PM,NYPD,New York City Police Department,Noise - Residential,Loud Music/Party,Residential Building/House,11418,HILLSIDE AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,38677688,03/12/2018 11:18:00 PM,03/13/2018 12:48:00 PM,DOT,Department of Transportation,Street Light Condition,Street Light Out,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,38677899,03/13/2018 12:11:00 PM,03/14/2018 01:50:00 PM,DEP,Department of Environmental Protection,Sewer,Catch Basin Clogged/Flooding (Use Comments) (SC),NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,39060036,04/29/2018 03:43:14 PM,04/29/2018 04:08:20 PM,DPR,Department of Parks and Recreation,Violation of Park Rules,Unlicensed Vendors,Park,11375,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,39059281,04/29/2018 03:38:41 PM,04/29/2018 03:39:27 PM,HRA,HRA Benefit Card Replacement,Benefit Card Replacement,Medicaid,NYC Street Address,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,38677677,03/12/2018 11:36:00 AM,03/12/2018 11:36:00 AM,DOT,Department of Transportation,Street Light Condition,Street Light Out,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,38677488,03/12/2018 11:27:00 AM,03/09/2018 11:27:00 AM,DOT,Department of Transportation,Street Light Condition,Street Light Cycling,NaN,NaN,MULLALY PARK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,39059229,04/29/2018 03:03:59 PM,05/09/2018 05:52:15 PM,DPR,Department of Parks and Recreation,Damaged Tree,Entire Tree Has Fallen Down,Park,11360,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,38677645,03/12/2018 11:24:00 PM,03/12/2018 11:50:00 PM,DOT,Department of Transportation,Traffic Signal Condition,Controller,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,38677690,03/12/2018 09:58:00 AM,03/10/2018 12:01:00 AM,DOT,Department of Transportation,Street Light Condition,Street Light Out,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,38678271,03/13/2018 04:40:00 PM,03/19/2018 09:54:00 AM,DOT,Department of Transportation,Street Light Condition,Multiple Street Lights Out,NaN,NaN,RIVERSIDE PARK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,38678284,03/13/2018 10:53:00 AM,03/13/2018 10:53:00 AM,DOT,Department of Transportation,Street Light Condition,Street Light Cycling,NaN,NaN,WILLIAMSBRIDGE OVAL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,38678241,03/13/2018 03:53:00 AM,03/13/2018 04:30:00 AM,DOT,Department of Transportation,Traffic Signal Condition,Controller,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4297,30717682,05/28/2015 01:12:16 PM,06/02/2015 11:02:30 AM,HPD,Department of Housing Preservation and Develop...,HPD Literature Request,The ABCs of Housing,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4298,38386772,02/03/2018 02:36:36 PM,02/04/2018 12:45:00 AM,DOT,Department of Transportation,Street Condition,Pothole,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4299,38894467,04/09/2018 02:45:00 AM,04/09/2018 03:20:00 AM,DOT,Department of Transportation,Traffic Signal Condition,LED Lense,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4300,38894856,04/09/2018 02:13:00 PM,04/06/2018 02:13:00 PM,DOT,Department of Transportation,Street Light Condition,Street Light Out,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4301,41363764,01/07/2019 09:31:04 AM,NaN,DSNY,Department of Sanitation,Graffiti,Graffiti,NaN,NaN,334 ridge st,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4302,30717692,05/28/2015 09:34:03 AM,06/02/2015 11:01:51 AM,HPD,Department of Housing Preservation and Develop...,HPD Literature Request,The ABCs of Housing,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4303,38894852,04/09/2018 02:48:00 PM,04/07/2018 01:25:00 AM,DOT,Department of Transportation,Street Light Condition,Fixture/Luminaire Door Open,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4304,38894846,04/09/2018 10:52:00 AM,04/05/2018 11:01:00 PM,DOT,Department of Transportation,Street Light Condition,Street Light Out,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4305,38894204,04/09/2018 10:13:00 AM,04/05/2018 10:13:00 AM,DOT,Department of Transportation,Street Light Condition,Time Clock Maladjusted,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4306,38386566,02/04/2018 07:16:00 PM,07/31/2018 12:00:00 AM,DOT,Department of Transportation,Traffic Signal Condition,Controller,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4307,38894483,04/09/2018 02:45:00 PM,04/09/2018 04:15:00 PM,DOT,Department of Transportation,Traffic Signal Condition,Ped Multiple Lamps,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4308,30717681,05/28/2015 01:33:54 PM,06/02/2015 11:02:28 AM,HPD,Department of Housing Preservation and Develop...,HPD Literature Request,The ABCs of Housing,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4309,38894876,04/09/2018 10:18:00 AM,04/09/2018 05:15:00 PM,DEP,Department of Environmental Protection,Water System,Leak (Use Comments) (WA2),NaN,10128,EAST 88 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4310,39020573,04/24/2018 12:30:33 PM,04/30/2018 11:27:10 AM,DOT,Department of Transportation,Street Condition,Cave-in,Street,11224,WEST 24 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4311,38894468,04/09/2018 10:28:00 AM,04/09/2018 02:50:00 PM,DOT,Department of Transportation,Traffic Signal Condition,Warning Signal Lamp,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4312,38894901,04/09/2018 07:15:00 AM,06/20/2018 01:40:00 PM,DOT,Department of Transportation,Traffic Signal Condition,Post,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4313,30717693,05/28/2015 11:15:43 PM,06/02/2015 10:59:03 AM,HPD,Department of Housing Preservation and Develop...,HPD Literature Request,The ABCs of Housing - Spanish,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4314,40001315,08/13/2018 09:27:15 AM,08/16/2018 08:09:01 AM,DOF,Condo or CoOp Unit,DOF Property - Reduction Issue,Condo or Co-op Abatement,Co-Op Unit,11235,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4315,38894851,04/09/2018 02:39:00 PM,04/06/2018 10:10:00 PM,DOT,Department of Transportation,Street Light Condition,Street Light Out,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4316,38895534,04/09/2018 02:59:00 PM,06/12/2018 09:03:00 AM,DOT,Department of Transportation,Street Light Condition,Street Light Out,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4317,19061943,11/05/2010 08:57:00 PM,11/06/2010 12:00:00 PM,DSNY,Bronx 05,Sanitation Condition,12 Dead Animals,Sidewalk,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4318,40547467,10/14/2018 03:58:23 PM,10/15/2018 02:13:34 AM,DOT,Department of Transportation,Highway Condition,Litter,Highway,NaN,NaN,...,Roadway,Entrance Throgs Neck Expwy - Lafayette Ave / C...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4319,38895328,04/09/2018 10:21:00 AM,04/07/2018 12:35:00 AM,DOT,Department of Transportation,Street Light Condition,Street Light Out,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4320,40547387,10/14/2018 08:30:00 PM,10/14/2018 08:50:00 PM,DOT,Department of Transportation,Traffic Signal Condition,LED Pedestrian Unit,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4321,39022551,04/24/2018 11:54:38 AM,04/30/2018 02:21:10 PM,DOF,Condo or CoOp Unit,DOF Property - Reduction Issue,Condo or Co-op Abatement,Co-Op Unit,10040,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4322,39750198,07/16/2018 11:26:32 AM,08/09/2018 12:55:33 PM,DPR,Department of Parks and Recreation,Maintenance or Facility,Structure - Outdoors,Park,11375,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4323,30717847,05/28/2015 03:15:00 PM,05/04/2015 03:15:00 PM,DOT,Department of Transportation,Street Light Condition,Fixture/Luminaire Out Of Position,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4324,40757271,11/06/2018 01:05:58 PM,11/08/2018 10:59:25 AM,DFTA,Department for the Aging,Housing - Low Income Senior,NaN,Senior Address,11225,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4325,38895615,04/09/2018 11:42:00 PM,04/10/2018 12:15:00 AM,DOT,Department of Transportation,Traffic Signal Condition,Controller,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4326,30717793,05/28/2015 11:55:29 AM,06/02/2015 11:02:25 AM,HPD,Department of Housing Preservation and Develop...,HPD Literature Request,The ABCs of Housing,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
df.iloc[0][0]

30688456

In [33]:
df.iloc[1][3]

'DOT'

In [ ]:
# Convert to numpy.ndarray

In [34]:
df.as_matrix()

array([[30688456, '05/24/2015 09:02:00 AM', '05/24/2015 09:55:00 AM',
        ..., nan, nan, nan],
       [38676721, '03/12/2018 09:56:00 AM', '03/09/2018 11:10:00 PM',
        ..., nan, nan, nan],
       [30688451, '05/24/2015 07:00:00 PM', '05/24/2015 08:20:00 PM',
        ..., nan, nan, nan],
       ...,
       [40757271, '11/06/2018 01:05:58 PM', '11/08/2018 10:59:25 AM',
        ..., nan, nan, nan],
       [38895615, '04/09/2018 11:42:00 PM', '04/10/2018 12:15:00 AM',
        ..., nan, nan, nan],
       [30717793, '05/28/2015 11:55:29 AM', '06/02/2015 11:02:25 AM',
        ..., nan, nan, nan]], dtype=object)

In [35]:
# Some Valuable References 
"""
# Python tutorial (offcial document)
https://docs.python.org/3/tutorial/

#The Python Standard Library:
https://docs.python.org/3.5/library/index.html

# Numpy offical document
http://www.numpy.org

# Pandas official document
https://pandas.pydata.org

# Pandas-Cookbook in python (a lot of good example in jupyter)
https://nbviewer.jupyter.org/github/jvns/pandas-cookbook/tree/master/
"""
pass