In [1]:
# Pandas is a library that provides useful data structure and data analysis tools
# pandas is well suited for many different kinds of data
# . Tabular data with heterogeneously-typed columns, as in an SQL table or Excel spreadsheet
# . Ordered and unordered (not necessarily fixed-frequency) time series data.
# . Arbitrary matrix data (homogeneously typed or heterogeneous) with row and column labels
# . Any other form of observational / statistical data sets. The data actually need not be labeled 
#   at all to be placed into a pandas data structure. 

import numpy as np
import pandas as pd

In [2]:
# Pandas Data Structure

In [3]:
# . Series
#   . One dimension array capable of holding any data type,
# . To create Series
data = np.array([1,2,3,4])
index = np.array(['a','b','c','d'])
s = pd.Series(data, index=index)
print(s)
# . The "data" can be list, tuple, dict, numpy.ndarray ...

a    1
b    2
c    3
d    4
dtype: int64

In [4]:
s = pd.Series([1,2,3,4])
print(s)
print('')
x = {'a':0, 'b':1} # x is dictionary
s = pd.Series(x)
print(s)

0    1
1    2
2    3
3    4
dtype: int64

a    0
b    1
dtype: int64

In [5]:
# . The index should be the same size with the data
s = pd.Series([0,1,2,3], index = ['a','b','c','d'])
print(s)

a    0
b    1
c    2
d    3
dtype: int64

In [6]:
# . You can access the series element by their index
print(s['b'])
print('')
S = set()
S.add('a')
S.add('c')
print(s[S])

1

a    0
c    2
dtype: int64

In [7]:
# . Data frame
#  . 2-dimensional labeled data structure with columns of poetentially different types
#  . like a spreadsheet or SQL table, or a dict of Series objects
#  . accepts many different kinds of input:
#    . Dict of 1D ndarrays, lists, dicts, or Series
#    . 2-D numpy.ndarray
#    . Structured or record ndarry
#    . A Series
#    . Another DataFrame

In [8]:
# From dict of series or dict
d = {}
d['a'] = pd.Series([1,2,3,4], index = ['a','b','c','d'])
d['b'] = pd.Series([5,6,7,8], index = ['c','a','b','x'])
df = pd.DataFrame(d)
print(df)

     a    b
a  1.0  6.0
b  2.0  7.0
c  3.0  5.0
d  4.0  NaN
x  NaN  8.0

In [9]:
# The index and column parameter
df = pd.DataFrame(d, index = ['a','b','c'])
print(df)
print('')
df = pd.DataFrame(d, index = ['a','b','c'], columns = ['a','d'])
print(df)

   a  b
a  1  6
b  2  7
c  3  5

   a    d
a  1  NaN
b  2  NaN
c  3  NaN

In [10]:
# From list of dict
x = [{'a':1, 'b':2}, {'a':3, 'b':4, 'c':5}]
print(pd.DataFrame(x))
print('')
print(pd.DataFrame(x, index = ['first','second']))
print('')
print(pd.DataFrame(x, index = ['first','second'], columns=['a','c']))
print('')

   a  b    c
0  1  2  NaN
1  3  4  5.0

        a  b    c
first   1  2  NaN
second  3  4  5.0

        a    c
first   1  NaN
second  3  5.0

In [11]:
# Read data
# . However, most of the time the data issotred in the file.
# . Pandas provides convenient functions to read data.
# . pandas.read_csv()
# . For example, if we have data like
csv_filename = 'Metadata_Country_API.csv'
pd.read_csv(csv_filename)

,Country Code,Region,IncomeGroup,SpecialNotes,TableName,Unnamed: 5
0,ABW,Latin America & Caribbean,High income,NaN,Aruba,NaN
1,AFG,South Asia,Low income,NaN,Afghanistan,NaN
2,AGO,Sub-Saharan Africa,Lower middle income,NaN,Angola,NaN
3,ALB,Europe & Central Asia,Upper middle income,NaN,Albania,NaN
4,AND,Europe & Central Asia,High income,NaN,Andorra,NaN
5,ARB,NaN,NaN,Arab World aggregate. Arab World is composed o...,Arab World,NaN
6,ARE,Middle East & North Africa,High income,NaN,United Arab Emirates,NaN
7,ARG,Latin America & Caribbean,Upper middle income,NaN,Argentina,NaN
8,ARM,Europe & Central Asia,Upper middle income,NaN,Armenia,NaN
9,ASM,East Asia & Pacific,Upper middle income,NaN,American Samoa,NaN
10,ATG,Latin America & Caribbean,High income,NaN,Antigua and Barbuda,NaN
11,AUS,East Asia & Pacific,High income,Fiscal year end: June 30; reporting period for...,Australia,NaN
12,AUT,Europe & Central Asia,High income,A simple multiplier is used to convert the nat...,Austria,NaN
13,AZE,Europe & Central Asia,Upper middle income,NaN,Azerbaijan,NaN
14,BDI,Sub-Saharan Africa,Low income,NaN,Burundi,NaN
15,BEL,Europe & Central Asia,High income,A simple multiplier is used to convert the nat...,Belgium,NaN
16,BEN,Sub-Saharan Africa,Low income,NaN,Benin,NaN
17,BFA,Sub-Saharan Africa,Low income,NaN,Burkina Faso,NaN
18,BGD,South Asia,Lower middle income,Fiscal year end: June 30; reporting period for...,Bangladesh,NaN
19,BGR,Europe & Central Asia,Upper middle income,NaN,Bulgaria,NaN
20,BHR,Middle East & North Africa,High income,NaN,Bahrain,NaN
21,BHS,Latin America & Caribbean,High income,NaN,"Bahamas, The",NaN
22,BIH,Europe & Central Asia,Upper middle income,NaN,Bosnia and Herzegovina,NaN
23,BLR,Europe & Central Asia,Upper middle income,Data before 2015 were adjusted to reflect the ...,Belarus,NaN
24,BLZ,Latin America & Caribbean,Upper middle income,NaN,Belize,NaN
25,BMU,North America,High income,NaN,Bermuda,NaN
26,BOL,Latin America & Caribbean,Lower middle income,NaN,Bolivia,NaN
27,BRA,Latin America & Caribbean,Upper middle income,NaN,Brazil,NaN
28,BRB,Latin America & Caribbean,High income,NaN,Barbados,NaN
29,BRN,East Asia & Pacific,High income,NaN,Brunei Darussalam,NaN
...,...,...,...,...,...,...
233,TLA,NaN,NaN,Latin America & the Caribbean (IDA & IBRD coun...,Latin America & Caribbean (IDA & IBRD),NaN
234,TLS,East Asia & Pacific,Lower middle income,NaN,Timor-Leste,NaN
235,TMN,NaN,NaN,Middle East & North Africa (IDA & IBRD countri...,Middle East & North Africa (IDA & IBRD),NaN
236,TON,East Asia & Pacific,Upper middle income,NaN,Tonga,NaN
237,TSA,NaN,NaN,South Asia (IDA & IBRD countries) aggregate.,South Asia (IDA & IBRD),NaN
238,TSS,NaN,NaN,Sub-Saharan Africa (IDA & IBRD countries) aggr...,Sub-Saharan Africa (IDA & IBRD),NaN
239,TTO,Latin America & Caribbean,High income,NaN,Trinidad and Tobago,NaN
240,TUN,Middle East & North Africa,Lower middle income,NaN,Tunisia,NaN
241,TUR,Europe & Central Asia,Upper middle income,NaN,Turkey,NaN
242,TUV,East Asia & Pacific,Upper middle income,NaN,Tuvalu,NaN
243,TZA,Sub-Saharan Africa,Low income,NaN,Tanzania,NaN
244,UGA,Sub-Saharan Africa,Low income,Fiscal year end: June 30; reporting period for...,Uganda,NaN
245,UKR,Europe & Central Asia,Lower middle income,NaN,Ukraine,NaN
246,UMC,NaN,NaN,Upper middle income group aggregate. Upper-mid...,Upper middle income,NaN
247,URY,Latin America & Caribbean,High income,NaN,Uruguay,NaN
248,USA,North America,High income,NaN,United States,NaN
249,UZB,Europe & Central Asia,Lower middle income,NaN,Uzbekistan,NaN
250,VCT,Latin America & Caribbean,Upper middle income,NaN,St. Vincent and the Grenadines,NaN
251,VEN,Latin America & Caribbean,Upper middle income,NaN,"Venezuela, RB",NaN
252,VGB,Latin America & Caribbean,High income,NaN,British Virgin Islands,NaN
253,VIR,Latin America & Caribbean,High income,NaN,Virgin Islands (U.S.),NaN
254,VNM,East Asia & Pacific,Lower middle income,NaN,Vietnam,NaN
255,VUT,East Asia & Pacific,Lower middle income,NaN,Vanuatu,NaN
256,WLD,NaN,NaN,World aggregate.,World,NaN
257,WSM,East Asia & Pacific,Upper middle income,Fiscal year ends on June 30; reporting period ...,Samoa,NaN
258,XKX,Europe & Central Asia,Upper middle income,NaN,Kosovo,NaN
259,YEM,Middle East & North Africa,Low income,NaN,"Yemen, Rep.",NaN
260,ZAF,Sub-Saharan Africa,Upper middle income,Fiscal year end: March 31; reporting period fo...,South Africa,NaN
261,ZMB,Sub-Saharan Africa,Lower middle income,National accounts data were rebased to reflect...,Zambia,NaN
262,ZWE,Sub-Saharan Africa,Lower middle income,NaN,Zimbabwe,NaN

In [12]:
pd.read_csv(csv_filename, index_col = 0)

,Region,IncomeGroup,SpecialNotes,TableName,Unnamed: 5
Country Code,,,,,
ABW,Latin America & Caribbean,High income,NaN,Aruba,NaN
AFG,South Asia,Low income,NaN,Afghanistan,NaN
AGO,Sub-Saharan Africa,Lower middle income,NaN,Angola,NaN
ALB,Europe & Central Asia,Upper middle income,NaN,Albania,NaN
AND,Europe & Central Asia,High income,NaN,Andorra,NaN
ARB,NaN,NaN,Arab World aggregate. Arab World is composed o...,Arab World,NaN
ARE,Middle East & North Africa,High income,NaN,United Arab Emirates,NaN
ARG,Latin America & Caribbean,Upper middle income,NaN,Argentina,NaN
ARM,Europe & Central Asia,Upper middle income,NaN,Armenia,NaN
ASM,East Asia & Pacific,Upper middle income,NaN,American Samoa,NaN
ATG,Latin America & Caribbean,High income,NaN,Antigua and Barbuda,NaN
AUS,East Asia & Pacific,High income,Fiscal year end: June 30; reporting period for...,Australia,NaN
AUT,Europe & Central Asia,High income,A simple multiplier is used to convert the nat...,Austria,NaN
AZE,Europe & Central Asia,Upper middle income,NaN,Azerbaijan,NaN
BDI,Sub-Saharan Africa,Low income,NaN,Burundi,NaN
BEL,Europe & Central Asia,High income,A simple multiplier is used to convert the nat...,Belgium,NaN
BEN,Sub-Saharan Africa,Low income,NaN,Benin,NaN
BFA,Sub-Saharan Africa,Low income,NaN,Burkina Faso,NaN
BGD,South Asia,Lower middle income,Fiscal year end: June 30; reporting period for...,Bangladesh,NaN
BGR,Europe & Central Asia,Upper middle income,NaN,Bulgaria,NaN
BHR,Middle East & North Africa,High income,NaN,Bahrain,NaN
BHS,Latin America & Caribbean,High income,NaN,"Bahamas, The",NaN
BIH,Europe & Central Asia,Upper middle income,NaN,Bosnia and Herzegovina,NaN
BLR,Europe & Central Asia,Upper middle income,Data before 2015 were adjusted to reflect the ...,Belarus,NaN
BLZ,Latin America & Caribbean,Upper middle income,NaN,Belize,NaN
BMU,North America,High income,NaN,Bermuda,NaN
BOL,Latin America & Caribbean,Lower middle income,NaN,Bolivia,NaN
BRA,Latin America & Caribbean,Upper middle income,NaN,Brazil,NaN
BRB,Latin America & Caribbean,High income,NaN,Barbados,NaN
BRN,East Asia & Pacific,High income,NaN,Brunei Darussalam,NaN
...,...,...,...,...,...
TLA,NaN,NaN,Latin America & the Caribbean (IDA & IBRD coun...,Latin America & Caribbean (IDA & IBRD),NaN
TLS,East Asia & Pacific,Lower middle income,NaN,Timor-Leste,NaN
TMN,NaN,NaN,Middle East & North Africa (IDA & IBRD countri...,Middle East & North Africa (IDA & IBRD),NaN
TON,East Asia & Pacific,Upper middle income,NaN,Tonga,NaN
TSA,NaN,NaN,South Asia (IDA & IBRD countries) aggregate.,South Asia (IDA & IBRD),NaN
TSS,NaN,NaN,Sub-Saharan Africa (IDA & IBRD countries) aggr...,Sub-Saharan Africa (IDA & IBRD),NaN
TTO,Latin America & Caribbean,High income,NaN,Trinidad and Tobago,NaN
TUN,Middle East & North Africa,Lower middle income,NaN,Tunisia,NaN
TUR,Europe & Central Asia,Upper middle income,NaN,Turkey,NaN
TUV,East Asia & Pacific,Upper middle income,NaN,Tuvalu,NaN
TZA,Sub-Saharan Africa,Low income,NaN,Tanzania,NaN
UGA,Sub-Saharan Africa,Low income,Fiscal year end: June 30; reporting period for...,Uganda,NaN
UKR,Europe & Central Asia,Lower middle income,NaN,Ukraine,NaN
UMC,NaN,NaN,Upper middle income group aggregate. Upper-mid...,Upper middle income,NaN
URY,Latin America & Caribbean,High income,NaN,Uruguay,NaN
USA,North America,High income,NaN,United States,NaN
UZB,Europe & Central Asia,Lower middle income,NaN,Uzbekistan,NaN
VCT,Latin America & Caribbean,Upper middle income,NaN,St. Vincent and the Grenadines,NaN
VEN,Latin America & Caribbean,Upper middle income,NaN,"Venezuela, RB",NaN
VGB,Latin America & Caribbean,High income,NaN,British Virgin Islands,NaN
VIR,Latin America & Caribbean,High income,NaN,Virgin Islands (U.S.),NaN
VNM,East Asia & Pacific,Lower middle income,NaN,Vietnam,NaN
VUT,East Asia & Pacific,Lower middle income,NaN,Vanuatu,NaN
WLD,NaN,NaN,World aggregate.,World,NaN
WSM,East Asia & Pacific,Upper middle income,Fiscal year ends on June 30; reporting period ...,Samoa,NaN
XKX,Europe & Central Asia,Upper middle income,NaN,Kosovo,NaN
YEM,Middle East & North Africa,Low income,NaN,"Yemen, Rep.",NaN
ZAF,Sub-Saharan Africa,Upper middle income,Fiscal year end: March 31; reporting period fo...,South Africa,NaN
ZMB,Sub-Saharan Africa,Lower middle income,National accounts data were rebased to reflect...,Zambia,NaN
ZWE,Sub-Saharan Africa,Lower middle income,NaN,Zimbabwe,NaN

In [13]:
df= pd.read_csv(csv_filename)
print(type(df))

print(df['Country Code'])

<class 'pandas.core.frame.DataFrame'>
0      ABW
1      AFG
2      AGO
3      ALB
4      AND
5      ARB
6      ARE
7      ARG
8      ARM
9      ASM
10     ATG
11     AUS
12     AUT
13     AZE
14     BDI
15     BEL
16     BEN
17     BFA
18     BGD
19     BGR
20     BHR
21     BHS
22     BIH
23     BLR
24     BLZ
25     BMU
26     BOL
27     BRA
28     BRB
29     BRN
      ...
233    TLA
234    TLS
235    TMN
236    TON
237    TSA
238    TSS
239    TTO
240    TUN
241    TUR
242    TUV
243    TZA
244    UGA
245    UKR
246    UMC
247    URY
248    USA
249    UZB
250    VCT
251    VEN
252    VGB
253    VIR
254    VNM
255    VUT
256    WLD
257    WSM
258    XKX
259    YEM
260    ZAF
261    ZMB
262    ZWE
Name: Country Code, Length: 263, dtype: object

In [14]:
# Access elements

In [15]:
csv_filename = 'Metadata_Country_API.csv'
pd.read_csv(csv_filename, index_col=2)

,Country Code,Region,SpecialNotes,TableName,Unnamed: 5
IncomeGroup,,,,,
High income,ABW,Latin America & Caribbean,NaN,Aruba,NaN
Low income,AFG,South Asia,NaN,Afghanistan,NaN
Lower middle income,AGO,Sub-Saharan Africa,NaN,Angola,NaN
Upper middle income,ALB,Europe & Central Asia,NaN,Albania,NaN
High income,AND,Europe & Central Asia,NaN,Andorra,NaN
NaN,ARB,NaN,Arab World aggregate. Arab World is composed o...,Arab World,NaN
High income,ARE,Middle East & North Africa,NaN,United Arab Emirates,NaN
Upper middle income,ARG,Latin America & Caribbean,NaN,Argentina,NaN
Upper middle income,ARM,Europe & Central Asia,NaN,Armenia,NaN
Upper middle income,ASM,East Asia & Pacific,NaN,American Samoa,NaN
High income,ATG,Latin America & Caribbean,NaN,Antigua and Barbuda,NaN
High income,AUS,East Asia & Pacific,Fiscal year end: June 30; reporting period for...,Australia,NaN
High income,AUT,Europe & Central Asia,A simple multiplier is used to convert the nat...,Austria,NaN
Upper middle income,AZE,Europe & Central Asia,NaN,Azerbaijan,NaN
Low income,BDI,Sub-Saharan Africa,NaN,Burundi,NaN
High income,BEL,Europe & Central Asia,A simple multiplier is used to convert the nat...,Belgium,NaN
Low income,BEN,Sub-Saharan Africa,NaN,Benin,NaN
Low income,BFA,Sub-Saharan Africa,NaN,Burkina Faso,NaN
Lower middle income,BGD,South Asia,Fiscal year end: June 30; reporting period for...,Bangladesh,NaN
Upper middle income,BGR,Europe & Central Asia,NaN,Bulgaria,NaN
High income,BHR,Middle East & North Africa,NaN,Bahrain,NaN
High income,BHS,Latin America & Caribbean,NaN,"Bahamas, The",NaN
Upper middle income,BIH,Europe & Central Asia,NaN,Bosnia and Herzegovina,NaN
Upper middle income,BLR,Europe & Central Asia,Data before 2015 were adjusted to reflect the ...,Belarus,NaN
Upper middle income,BLZ,Latin America & Caribbean,NaN,Belize,NaN
High income,BMU,North America,NaN,Bermuda,NaN
Lower middle income,BOL,Latin America & Caribbean,NaN,Bolivia,NaN
Upper middle income,BRA,Latin America & Caribbean,NaN,Brazil,NaN
High income,BRB,Latin America & Caribbean,NaN,Barbados,NaN
High income,BRN,East Asia & Pacific,NaN,Brunei Darussalam,NaN
...,...,...,...,...,...
NaN,TLA,NaN,Latin America & the Caribbean (IDA & IBRD coun...,Latin America & Caribbean (IDA & IBRD),NaN
Lower middle income,TLS,East Asia & Pacific,NaN,Timor-Leste,NaN
NaN,TMN,NaN,Middle East & North Africa (IDA & IBRD countri...,Middle East & North Africa (IDA & IBRD),NaN
Upper middle income,TON,East Asia & Pacific,NaN,Tonga,NaN
NaN,TSA,NaN,South Asia (IDA & IBRD countries) aggregate.,South Asia (IDA & IBRD),NaN
NaN,TSS,NaN,Sub-Saharan Africa (IDA & IBRD countries) aggr...,Sub-Saharan Africa (IDA & IBRD),NaN
High income,TTO,Latin America & Caribbean,NaN,Trinidad and Tobago,NaN
Lower middle income,TUN,Middle East & North Africa,NaN,Tunisia,NaN
Upper middle income,TUR,Europe & Central Asia,NaN,Turkey,NaN
Upper middle income,TUV,East Asia & Pacific,NaN,Tuvalu,NaN
Low income,TZA,Sub-Saharan Africa,NaN,Tanzania,NaN
Low income,UGA,Sub-Saharan Africa,Fiscal year end: June 30; reporting period for...,Uganda,NaN
Lower middle income,UKR,Europe & Central Asia,NaN,Ukraine,NaN
NaN,UMC,NaN,Upper middle income group aggregate. Upper-mid...,Upper middle income,NaN
High income,URY,Latin America & Caribbean,NaN,Uruguay,NaN
High income,USA,North America,NaN,United States,NaN
Lower middle income,UZB,Europe & Central Asia,NaN,Uzbekistan,NaN
Upper middle income,VCT,Latin America & Caribbean,NaN,St. Vincent and the Grenadines,NaN
Upper middle income,VEN,Latin America & Caribbean,NaN,"Venezuela, RB",NaN
High income,VGB,Latin America & Caribbean,NaN,British Virgin Islands,NaN
High income,VIR,Latin America & Caribbean,NaN,Virgin Islands (U.S.),NaN
Lower middle income,VNM,East Asia & Pacific,NaN,Vietnam,NaN
Lower middle income,VUT,East Asia & Pacific,NaN,Vanuatu,NaN
NaN,WLD,NaN,World aggregate.,World,NaN
Upper middle income,WSM,East Asia & Pacific,Fiscal year ends on June 30; reporting period ...,Samoa,NaN
Upper middle income,XKX,Europe & Central Asia,NaN,Kosovo,NaN
Low income,YEM,Middle East & North Africa,NaN,"Yemen, Rep.",NaN
Upper middle income,ZAF,Sub-Saharan Africa,Fiscal year end: March 31; reporting period fo...,South Africa,NaN
Lower middle income,ZMB,Sub-Saharan Africa,National accounts data were rebased to reflect...,Zambia,NaN
Lower middle income,ZWE,Sub-Saharan Africa,NaN,Zimbabwe,NaN

In [16]:
csv_filename = 'Metadata_Country_API.csv'
pd.read_csv(csv_filename, index_col=2)['Region']['Low income']
# you want to show Region where IncomeGroup = 'Low income'
# set index_col = 2 to index IncomeGroup field. 
# Then get Region values where IncomeGroup='Low income' by something['Region']['Low income']

Low income                    South Asia
Low income            Sub-Saharan Africa
Low income            Sub-Saharan Africa
Low income            Sub-Saharan Africa
Low income            Sub-Saharan Africa
Low income            Sub-Saharan Africa
Low income            Sub-Saharan Africa
Low income            Sub-Saharan Africa
Low income            Sub-Saharan Africa
Low income            Sub-Saharan Africa
Low income            Sub-Saharan Africa
Low income     Latin America & Caribbean
Low income            Sub-Saharan Africa
Low income            Sub-Saharan Africa
Low income            Sub-Saharan Africa
Low income            Sub-Saharan Africa
Low income            Sub-Saharan Africa
Low income            Sub-Saharan Africa
Low income                    South Asia
Low income           East Asia & Pacific
Low income            Sub-Saharan Africa
Low income            Sub-Saharan Africa
Low income            Sub-Saharan Africa
Low income            Sub-Saharan Africa
Low income    Middle East & North Africa
Low income            Sub-Saharan Africa
Low income            Sub-Saharan Africa
Low income         Europe & Central Asia
Low income            Sub-Saharan Africa
Low income            Sub-Saharan Africa
Low income    Middle East & North Africa
Name: Region, dtype: object

In [17]:
# . You can also access the rows with
csv_filename = 'Metadata_Country_API.csv'
pd.read_csv(csv_filename, index_col=2)[:3] # get row0, row1,row2

,Country Code,Region,SpecialNotes,TableName,Unnamed: 5
IncomeGroup,,,,,
High income,ABW,Latin America & Caribbean,NaN,Aruba,NaN
Low income,AFG,South Asia,NaN,Afghanistan,NaN
Lower middle income,AGO,Sub-Saharan Africa,NaN,Angola,NaN