In [2]:

from IPython.display import display, HTML

In [ ]:
class SomeObject():
    def __init__(self):
        x = 20
    def __rerp__(self):
        return ''
    def __str__(self):
        return '__str__()'

In [5]:
from IPython.core.display import display, HTML
display(HTML('<h1>Hello, world!</h1>'))

In [11]:
from IPython.core.display import display, HTML
htmlStr = '<h1>Hello, world!</h1>'
htmlStr += '<table>'
htmlStr += '<tr>'
htmlStr += '<td>A</td><td>B</td><td>C</td>'
htmlStr += '</tr><tr>'
htmlStr += '<td>1</td><td>2</td><td>3</td>'
htmlStr += '</tr><tr>'
htmlStr += '<td>a</td><td>b</td><td>c</td>'
htmlStr += '</tr><tr>'
htmlStr += '<td>1</td><td>2</td><td>3</td>'
htmlStr += '</tr>'
htmlStr += '<table/>'
display(HTML(htmlStr))

In [2]:
import ipywidgets as widgets
from IPython import display
import pandas as pd
import numpy as np

# sample data
df1 = pd.DataFrame(np.random.randn(8, 3))
df2 = pd.DataFrame(np.random.randn(8, 3))

# create output widgets
widget1 = widgets.Output()
widget2 = widgets.Output()

# render in output widgets
with widget1:
    display.display(df1)
with widget2:
    display.display(df2)

# create HBox
hbox = widgets.HBox([widget1, widget2])

# render hbox
hbox

HBox(children=(Output(), Output()))

In [4]:
class display(object):
    """Display HTML representation of multiple objects"""
    template = """<div style="font-size:10px; float: left; padding:10px;">
    <p style='font-family:"Courier New", Courier, monospace'>{0}</p>{1}
    </div>"""
    def __init__(self, *args):
        self.args = args

    def _repr_html_(self):
        return '\n'.join(self.template.format(a, eval(a)._repr_html_())
                     for a in self.args)

    def __repr__(self):
        return '\n\n'.join(a + '\n' + repr(eval(a))
                       for a in self.args)
    
df1 = pd.DataFrame(np.random.randn(8, 3))
df2 = pd.DataFrame(np.random.randn(8, 3))

    
    
display('df1')
# the same as to df1

          0         1         2
0 -1.628455 -1.953667 -0.486894
1  0.002027  1.257595  2.716576
2  0.514793 -1.059376  0.378316
3  0.639344 -1.334497  0.194413
4  1.331219  0.012007 -1.195188
5 -0.095401  0.331220 -0.356656
6 -0.766905 -0.070127 -0.036798
7  1.594378  0.267360  1.585547